.container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  justify-content: space-between;
}

.card {
  border: solid rgb(255, 254, 254) 1px;
  border-radius: 20px;
  overflow: hidden; /* prevents image from poking out */
  flex: 1;
}
  
  .card a{
    color: white;
    padding-inline: 20px;
    font-size: 20px;
  }
  .card p {
    padding-inline: 20px;
  }  
  .card a:hover {
    text-decoration: underline;
    color: gray;
    cursor: pointer;
  }



.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

