/* layout.css */

/* Reset some basic styles */
body, ul {
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #282c34;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;
}

header h1 {
  margin-bottom: 10px;
  font-size: 2rem;
}



nav ul li a {
  color: #61dafb;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #21a1f1;
}



/* Footer styles */
footer {
  background-color: #20232a;
  padding: 15px 40px;
  color: #888;
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.3);
}


