.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  /* rest unchanged */
}



.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}


.tab {
  flex: 0 0 auto;
  width: 300px;
  padding: 10px 20px;
  background: #ED6C21;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.tab:hover {
  background: #6d3901;
}

.tab.active {
  background: #ED6C21;
  color: white;
}


.form{
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  margin-top: 50px;
}
.form label {
  display: block;
  margin-bottom: 12px;
}

.form input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
}

.form button {
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.form button:hover {
  background: #6d3901;
  color: white;
}

.user-list {
  list-style: disc;
  list-style-position: inside; /* Moves bullets inside the element */
  padding-left: 0;             /* Removes default padding */
  text-align: center;
}

.user-list li {
  display: block;              /* Ensures each item is centered as a block */
  margin: 8px 0;
}
